.vscode

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
app/**/*.test

# Binary
cloud-connector-service

#Debug
debug
debug.test

#Ignoring Mongodata
data/
/cloud-connector-service

#vendor stuff
vendor/github.impcloud.net/RSP-Inventory-Suite/**/*.md
vendor/github.impcloud.net/RSP-Inventory-Suite/**/vendor/*
vendor/github.impcloud.net/RSP-Inventory-Suite/**/Jenkinsfile
vendor/github.impcloud.net/RSP-Inventory-Suite/utilities/configuration/testData
vendor/github.impcloud.net/RSP-Inventory-Suite/utilities/configuration/configuration.json
vendor/github.impcloud.net/RSP-Inventory-Suite/utilities/ConsulApi/mockConsul.go

go.sum