.vscode
.idea/

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
app/**/*.test

# Binary
cloud-connector-service

#Debug
debug
debug.test

#Ignoring Mongodata
data/
/cloud-connector-service

go.sum
