.vscode

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
app/**/*.test

# Binary
cloud-connector-service

#Debug
debug
debug.test

#Ignoring Mongodata
data/
/cloud-connector-service

#vendor stuff
vendor/github.impcloud.net/Responsive-Retail-Core/**/*.md
vendor/github.impcloud.net/Responsive-Retail-Core/**/vendor/*
vendor/github.impcloud.net/Responsive-Retail-Core/**/Jenkinsfile
vendor/github.impcloud.net/Responsive-Retail-Core/utilities/configuration/testData
vendor/github.impcloud.net/Responsive-Retail-Core/utilities/configuration/configuration.json
vendor/github.impcloud.net/Responsive-Retail-Core/utilities/ConsulApi/mockConsul.go
